/*
 * // layout
 */
html,
body {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 0;
  padding: 0px;
  color: #333;
}
#conatiner {
  width: 100%;
  height: 100%;
  height: 300px;
}
textarea {
  width: 100%;
  /* min-width: 390px; */
  height: 100% !important;
  padding: 8px;
  box-sizing: border-box;
  border: none!important;
  font-size:13px;
  word-break: break-all;
  resize: none;
}

#tabContainer {
  position: absolute;
  left: 0;
  top:0;
  z-index: 1;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

#editAreaContainer {
  position: absolute;
  left: 0;
  top: 30px;
  bottom: 0;
  width: 50%;
  /* height: 270px; */
  box-sizing: border-box;
  border: 1px solid grey;
  border-right: none!important;
  /* overflow: auto; */
}

#viewerBox {
  position: absolute;
  right: 0;
  top: 30px;
  bottom: 0;
  width: 50%;
  /* height: 270px; */
  box-sizing: border-box;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}


/*
 * // Tab buttons
 */

.tabButton {
  float: left;
  padding: 0 10px;
  line-height: 30px;
  cursor: pointer;
}

.tabButton.active {
  color: #4169e1!important
}

.tabButton.empty {
  color: #aaa;
}

.editArea {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  /* margin: 5px 0 0 0; */
  border: 1px solid grey;
}

iframe {
  width: 100%;
  height: 100%;
}


/*
 * // Clear
 */
.clear {
  clear: both;
}