/*
 * // layout
 */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#conatiner {
  width: 100%;
  height: 100%;
}
textarea {
  width: 100%;
  height: 100% !important;
  box-sizing: border-box;
  resize: none;
}

#editAreaContainer {
  float: left;
  width: 50%;
  height: 100%;
}

#viewerBox {
  float:left;
  width: 50%;
  height: 100%;
}


/*
 * // Tab buttons
 */
#tabContainer {
  padding: 0 0 1px 0;
  border-bottom: 1px solid grey;
}

.tabButton {
  float: left;
  padding: 5px 10px;
  cursor: pointer;
}

.editArea {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  /* margin: 5px 0 0 0; */
  border: 1px solid grey;
}

iframe {
  width: 100%;
  height: 100%;
}


/*
 * // Clear
 */
.clear {
  clear: both;
}